div {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 50px;
    transition: transform 5s;
}

div:hover {
    transform: translateX(1200px);
}

img {
    height: 150px;
    width: 200px;
    border-radius: 89px;
    margin-left: 200px;
    transition: widhth 100s, height 100s;
}

img:hover {
    transform: scale(3, 3);

}